.app-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #777;

    .sidebar {
        width: 12em;
        height: 100vh;
        background-color: #222;
        position: fixed;

        &:hover {
            overflow-y: scroll;
            padding-right: 0.4em;
        }

        &:hover::-webkit-scrollbar {
            width: 0.4em;
            background-color: #222;
        }

        &:hover::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &:hover::-webkit-scrollbar-thumb {
            background-color: #999;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1em;
        }
    }

    .recommended-videos {
        width: calc(100% - 12em);
        display: flex;
        flex-direction: column;
        margin-left: 12em;

        .link-list {
            background-color: #222222ee;
            border-top: 1px solid #333;
            border-bottom: 1px solid #333;
            width: calc(100% - 12em);
            height: 2.9em;
            position: fixed;
            top: 2.8em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                p {
                    padding: 0.3em 1.5em;
                    border-radius: 2em;
                    margin: 0.6em 0.6em;
                    background-color: #444;
                    color: white;
                    border: 1px solid #777;
                    font-size: 0.9rem;
                    font-weight: 500;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    white-space: nowrap;

                    &:hover {
                        background-color: #555;
                        cursor: pointer;
                    }
                }
            }
        }

        .video-list {
            padding: 1em 4.4em;
            position: relative;
            top: 2.9em;
            z-index: -1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

body::-webkit-scrollbar {
    width: 0.4em;
    background-color: #222;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #999;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    /* outline: 1px solid slategrey; */
}
